*{
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;
    background-color: #222;
}

/* Logo */
.logo {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
}

/* Nav links */
.nav-right {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.nav-right a {
    color: white;
    text-decoration: none;
}

.nav-right a:hover {
    text-decoration: underline;
}
/*End nav bar styles*/

img {
    max-width: 100%;
    height: auto;
}